@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #8767c4;
  --bg-body: #261e35;
  --bg-card: #d4d2f31a;
}
body {
  background: var(--bg-body);
  font-family: 'Mulish', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2em;
  line-height: 1.1;
}
h3 {
  font-size: 1.2em;
  line-height: 1.1;
}

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: var(--bg-card);
  border-radius: 10px;
}

.auth-text {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-text h2,
.auth-text p {
  animation: slide 1s;
}

.auth-form hr {
  background: grey;
  padding: 25% 0.1px;
}

.auth-button-wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.auth-button {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  background: var(--color-primary);
  display: flex;
  animation: slide-reverse 1s;
  align-items: center;
  gap: 10px;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-link-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.item-link {
  padding: 5px;
  margin: 10px 0;
  border-radius: 3px;
  font-size: 0.8rem;
  color: #fff;
}

.item-link.active {
  color: #fff;
  background-color: #323da7;
  fill: #fff;
}

.template-generation-wrapper {
  height: 100%;
  background: var(--bg-card);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-image-source: linear-gradient(
    101.78deg,
    rgba(231, 230, 249, 0.25) 1.24%,
    rgba(212, 210, 243, 0.15) 100%
  );
  width: calc(100% - 320px);
}

.document-select-wrapper {
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg-body);
  border: 3px dashed lightgrey;
  height: 85vh;
}

.template-generation-block {
  padding: 20px;
  height: 240px;
  width: 22%;
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.template-generation-block p {
  margin-bottom: 10px;
}

.template-generation-block button {
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  background: var(--color-primary);
}

.template-generation-wrapper select {
  color: white;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid grey;
}

.template-create {
  border: 1px dashed grey;
  height: 240px;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.template-create:hover {
  background: var(--bg-card);
}

.document-select-wrapper {
  padding: 12px;
  /* width: 100%; */
  border-radius: 16px;
  background-color: var(--bg-card);
  border: 1px solid var(--bg-card);
}
.document-select-wrapper ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.document-select {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.document-select:hover {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  background: var(--bg-card);
}
.template-generation-working-zone {
  display: grid;
  grid-template-columns: 70% 29%;
  gap: 20px;
}

.mapping-inputs-wrapper {
  padding: 12px;
  border-radius: 16px;
  background-color: var(--bg-body);
  border: 3px dashed lightgrey;
}

.add-mapping-input-button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #fff;
}

.mapping-inputs {
  display: flex;
  flex-direction: column;
}
.mapping-inputs input {
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}

@keyframes slide {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-reverse {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.logo {
  width: 60%;
  display: flex;
  margin-bottom: 10%;
}

/* home page */
.home {
  height: 100%;
  background: var(--bg-card);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-image-source: linear-gradient(
    101.78deg,
    rgba(231, 230, 249, 0.25) 1.24%,
    rgba(212, 210, 243, 0.15) 100%
  );
  width: calc(100% - 320px);
}
.home .title {
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
}
.home .about {
  background-color: #ffffff50;
  height: 100%;
  width: 35vw;
}
/* /create page */

.quill {
  height: 70vh;
  width: 60vw;
  margin: 10vh auto;
  /* background-color: #fff; */
  background-color: transparent;
  border-radius: 20px;
  border: none;
}

.ql-toolbar .ql-formats button {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.ql-toolbar .ql-formats button:hover {
  color: #a73232;
}

.ql-toolbar {
  display: flex;
  border-radius: 20px 30px 0 0;
  justify-content: center;
  border: none;
  color: #323da7;
  background-color: #fff;
}

.ql-container {
  border-radius: 0 0 20px 20px;
  border: 8px solid #000;
  font-family: 'Mulish', sans-serif;
  /* padding: 10px 0 0; */
  overflow: hidden;
}

.ql-editor {
  min-height: 200px;
  background-color: transparent;
  /* background-color: #fff; */
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  overflow: hidden;
  font-family: 'Mulish', sans-serif;
}
a {
  font-family: 'Mulish', sans-serif;
}
.save-document {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
  margin: 0 12vw 14vh 0;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #8767c4;
  transition: 0.2s;
}
.save-document:hover {
  transform: scale(1.1);
}
