@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #8767C4;
  --bg-body: #261E35;
  --bg-card: #D4D2F31A;
}
body {
  background: var(--bg-body);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.0em;
  line-height: 1.1;
}

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.auth-form {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: var(--bg-card);
  border-radius: 10px;
}

.auth-text{
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-text h2, p{
  animation: slide 1s ;
}

.auth-form hr{
  background: grey;
  padding: 25% 0.1px;  
}

.auth-button-wrapper{
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.auth-button {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  background: var(--color-primary);
  display: flex;
  animation: slide-reverse 1s;
  align-items: center;
  gap: 10px;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-link-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.item-link {
  padding: 5px;
  margin: 10px 0;
  border-radius: 3px;
  font-size: 0.8rem;
  color: #fff;
}

.item-link.active {
  color: #fff;
  background-color: #323da7;
  fill: #fff;
}

.template-generation-wrapper {
  border: 1px solid;
  border-image-source: linear-gradient(
    101.78deg,
    rgba(231, 230, 249, 0.25) 1.24%,
    rgba(212, 210, 243, 0.15) 100%
  );
}

.document-select-wrapper {
  padding: 12px;
  border-radius: 16px;
  background-color: grey;
  border: 1px dashed #333;
}

.template-generation-working-zone {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.mapping-inputs-wrapper {
  padding: 12px;
  border-radius: 16px;
  background-color: grey;
  border: 1px dashed #333;
}


@keyframes slide {
  0%{
    transform:  translateX(400px);
  }
  100%{
    transform:  translateX(0px);

  }
}
@keyframes slide-reverse {
  0%{
    transform:  translateX(-400px);
  }
  100%{
    transform:  translateX(0px);

  }
}